<div class="home__container">
    <app-card 
    gameCover="assets/yandere.jfif"
    gameLabel="Exclusive"
    gameType="DIGITAL"
    gamePrice="R$ 129,99"
    ></app-card>
    <app-card 
    gameCover="assets/nint.jfif"
    gameLabel="New"
    gameType="PS4"
    gamePrice="R$ 99,99"
    ></app-card>
    <app-card
    gameCover="assets/fnaf.jfif"
    gameLabel="Best of year"
    gameType="DISC | PS5"
    gamePrice="R$ 269,99"
    >
    </app-card>
    <app-card
    gameCover="assets/SilentHill.jfif"
    gameLabel="New"
    gameType="Digital | PS3 PS5"
    gamePrice="R$ 269,99"
    ></app-card>
</div>
