/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background: rgb(36,0,33);
background: linear-gradient(90deg, rgba(36,0,33,1) 0%, rgba(121,9,111,1) 35%, rgba(255,0,122,1) 100%);
}